@use "../abstract/variables";

#nav-user-menu-cont
{
  --hvar: 0%;
}

#nav-user-menu-cont:has(#nav-user-menu-checkbox:checked)
{
  --hvar: calc(141% + 5rem); // 141% = 100% * sqrt(2)
  /* https://stackoverflow.com/questions/59779083/clip-pathcircle-radius-doesnt-seem-to-be-calculated-correctly
  this says that the specs are sqrt(w^2+h^2)/sqrt(2), but I can't find that in the specs linked
  https://drafts.csswg.org/css-shapes/#basic-shape-functions */
}

#nav-user-menu-items
{
  width: max-content;
  position: absolute;
  z-index: 1;
  clip-path: circle(var(--hvar) at calc(100% - 3rem) -3rem);
  overflow: hidden;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 0 1rem gray;
  padding: 1rem;

  transition: all 0.1s linear;
}

#nav-user-menu
{
  width: 4rem;
  height: 4rem;
  border: 0.75rem solid black;
  border-radius: 50%;
  box-sizing: content-box;
  text-align: center;
  
  background-color: gray;
  background-image: url(/riffer-pic/0.png);
  background-size: cover;
}

.navbar {
  font-size: 3vh;
  //display: flex;
  align-items: center;
  justify-content: flex-start;
  top: 0;
  left: 0;


  .heading-primary-nav {
    font-size: variables.$medium;
    color: variables.$color-gray;
    font-weight: 700;
    font-family: Limelight;

  // @media (min-width: 700px) {
  //   font-size: $extra-large;
  // }
  }

  a.navbar-home-link-active span.heading-primary-nav {
    color: variables.$color-primary;
  }

  .navbar-link-active {
    border-bottom: 3px solid variables.$color-primary;
    transition: border-bottom 0.5s ease-in-out;
  }
  a {
    margin-left: 2rem;

    @media (min-width: 700px) {
      margin-left: 5rem;
    }

    &:hover {
      color: variables.$color-primary !important;
    }
  }

  @media (min-width: 700px) {
    font-size: variables.$medium;
  }
}
