<dialog class="rifftube-edit-view-options-dialog">

<%= form_with(scope: :user_options) do |form| %>

<%= render "view_options_form", form: form %>

<button type="submit" formmethod="dialog">Submit</button>

<% end %>

</dialog>
